<p>angularforms works!</p>




<div class="container">
    <div class="card border-primary">
        <div class="card-header border-primary">
            <button type="button" class="btn btn-primary mx-1" routerLink=
            "utdf">UTDF</button> 
            <button type="button" class="btn btn-primary" routerLink=
            "rtf">RTF</button>
        </div>
        <div class="card-body border-danger">
            
            <router-outlet></router-outlet>  
        </div>
        <div class="card-footer border-success">
            
        </div>
    </div>
</div>
