<carousel>
    <slide>
      <img src="../../assets/food.jpg" alt="first slide" style="display: block; width: 100%; height: 300px;">
    </slide>
    <slide>
      <img src="../../assets/download.jpg" alt="second slide" style="display: block; width: 100%; height: 300px;">
    </slide>
    <slide>
      <img src="../../assets/pizza.jpg" alt="third slide" style="display: block; width: 100%; height: 300px;">
    </slide>
  </carousel>

  <hr>
  <hr>
  




<!--this is interpolation-->
<h3>{{myName}}</h3>

<!--this is property binding-->
<img [src]="imgPath" [alt]="imgName" height="250px" weight="250px"> 
<div><strong>{{imgName}}</strong></div>



<!--this is event binding property-->
<button type="button" class="btn btn-primary"    (click)="greeting()">Click on me</button>

<hr>

<input type="text" name="myproduct" [(ngModel)]="product">


{{product}}
