<div class="loginFrm">
    
        <form> 
            
                <div class="row">
    
    
                    <div ><label >User:</label>
                        <input type="text" class="input" name="user" [(ngModel)]="user">
                    </div>
                     <br>
                     <div>
                       <br>

                     </div>
                    
                     <div><label >Password:</label>
                        <input type="text" name="password" [(ngModel)]="pass">
                    </div><br>
                   
                    <div><br></div>
                   <div class="button"><button class="btn btn-primary  mx-1" (click)="check()">Submit</button></div>
                    </div>
        
        </form>
    
</div>
