<nav>

    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="databinding"><i class="fa fa-home" aria-hidden="true"></i>Databinding</button>
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="directive">Directive</button>
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="parent">Parent</button>
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="angularforms">Angularforms</button>
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="pipe">Pipe</button>
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="counterParent">counterParent</button>
    
    <button type="button" class="btn btn-primary btn-sm mx-1 " routerLink="std-data-comp">std-data-comp</button>
    <button type="button" class="btn btn-outline-warning btn-primary btn-sm mx-1 " routerLink="crud">crud</button>
    <button type="button" class="btn btn-outline-warning btn-primary btn-sm mx-1 " (click)="signOut()"     style="float: right" routerLink="crud">Log out</button>


</nav>


